@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using PRN211_project.Commons
@using PRN211_project.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Organic Mind</title>
    @* <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" /> *@

    @Html.Partial("~/Views/Common/Head.cshtml")

</head>
<body class="overflow-hidden">
    <div class="m-5 bg-white h-[80vh] grid grid-cols-4">
        @* sidebar *@
        @Html.Partial("~/Views/Common/SideBar.cshtml")
        <div class=" col-span-3 rounded-3xl p-10 overflow-scroll ">
            <p class="font-bold text-6xl pb-4 text-neutral-700">List view</p>
            <div class="mx-auto w-full">
                <!-- Start coding here -->
                <div class="bg-white  relative shadow sm:rounded-lg overflow-hidden">
                    <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                        <div class="w-full md:w-1/2">
                            <form class="flex items-center">
                                <label for="simple-search" class="sr-only">Search</label>
                                <div class="relative w-full">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 " placeholder="Search" required="">
                                </div>
                            </form>
                        </div>
                        <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                            <div class="flex items-center space-x-3 w-full md:w-auto">
                                <button id="actionsDropdownButton" data-dropdown-toggle="actionsDropdown" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 " type="button">
                                    <svg class="-ml-1 mr-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                                    </svg>
                                    Actions
                                </button>
                                <div id="actionsDropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow ">
                                    <ul class="py-1 text-sm text-gray-700 " aria-labelledby="actionsDropdownButton">
                                        <li>
                                            <button data-ripple-light="true" data-dialog-target="dialogAdd"
                                                    class="bg-transparent w-full text-left block py-2 px-4 hover:bg-gray-100 ">
                                                Add
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="py-1">
                                        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">View Task</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="table-fixed text-left w-full  text-sm  text-gray-500 ">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-4 py-3">#</th>
                                    <th scope="col" class="px-4 py-3">Product name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (List l in ViewBag.lists)
                                {
                                    <tr class="hover:bg-amber-50 cursor-pointer active:bg-amber-950 active:text-amber-50" onclick="activeButton(@l.Id)">
                                        <td class="px-4 py-3">#@l.Id</td>
                                        <td class="px-4 py-3 font-medium">
                                            @l.Name
                                        </td>
                                        <button id="btn-@l.Id" data-ripple-light="true" data-dialog-target="dialog-@l.Id"
                                                class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none hidden">
                                        </button>

                                    </tr>
                                    <div data-dialog-backdrop="dialog-@l.Id" data-dialog-backdrop-close="true"
                                         class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
                                        <div data-dialog="dialog-@l.Id"
                                             class="relative m-4 w-2/5 min-w-[40%] max-w-[40%] rounded-lg bg-white font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased shadow-2xl">
                                            <div class="flex items-center p-4 font-sans text-2xl antialiased font-semibold leading-snug shrink-0 text-blue-gray-900">
                                                Rename list
                                            </div>
                                            <div class="relative p-4 font-sans text-base antialiased font-light leading-relaxed border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 text-blue-gray-500">
                                                <form action="/list/update" method="post">
                                                    <input type="hidden" name="Id" value="@l.Id" />
                                                    <input type="hidden" name="AccountId" value="@l.AccountId" />
                                                    <input id="Name" type="text" name="Name"
                                                           value="@l.Name"
                                                           class="text-stone-900 text-3xl font-bold border-none focus:outline-0 focus:border-b-2 p-2 "
                                                           placeholder="CV Name"
                                                           required />
                                                    <button type="submit" data-ripple-light="true" data-dialog-close="true"
                                                            class="hidden"></button>
                                                </form>

                                                @{

                                                    
                                                        List<PRN211_project.Models.Task> tasks = new PRN211_projectContext().Tasks.Where(x => x.ListId == l.Id).ToList();
                                                }
                                                @if (tasks != null)
                                                {

                                                    @foreach (PRN211_project.Models.Task t in tasks)
                                                    {
                                                        <div class="grid grid-cols-10 gap-5 items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50  hover:bg-amber-100 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">

                                                            <div class="col-span-1 inline-flex items-center ">
                                                                <label class="relative flex items-center p-2 rounded-full cursor-pointer" htmlFor="customStyle">
                                                                    <input type="checkbox"
                                                                           class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-gray-900/20 bg-gray-900/10 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-amber-800 checked:bg-amber-800 checked:before:bg-amber-800 hover:scale-105 hover:before:opacity-0"
                                                                           id="customStyle"
                                                                           onclick="checkBoxHandle(@t.Id)"
                                                                    @((t.Status == true) ? "checked" : "") />
                                                                    <span class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                                                                             stroke="currentColor" stroke-width="1">
                                                                            <path fill-rule="evenodd"
                                                                                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                                                  clip-rule="evenodd"></path>
                                                                        </svg>
                                                                    </span>

                                                                </label>
                                                            </div>

                                                            <div class="col-span-3 text-black">
                                                                <div class="font-normal"><a href="/task/view?id=@t.Id">@t.Name</a></div>
                                                                @{
                                                                    DateTime? nullableDateTime = t.DueDate;
                                                                    DateTime show = nullableDateTime ?? DateTime.Now;
                                                                }
                                                                <div class="text-amber-800 text-sm">@DateTimeUtils.CheckedDate(show) • <i class="uil uil-schedule "></i> @Convert.ToDateTime(t.DueDate).ToString(" ddd, MMM dd yyyy") </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="flex flex-wrap items-center justify-end p-4 shrink-0 text-blue-gray-500">
                                                <a onclick="return confirm('are you sure to delete? This action will delete all task in list')" href="/list/delete?id=@l.Id"
                                                   class="px-6 py-3 mr-1 font-sans text-xl font-bold text-red-500 uppercase transition-all rounded-lg middle none center hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                                    <i class="uil uil-times"></i>
                                                </a>
                                                <button data-ripple-dark="true" data-dialog-close="true"
                                                        class="hidden px-6 py-3 mr-1 font-sans text-xs font-bold text-red-500 uppercase transition-all rounded-lg middle none center hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                                    Cancel
                                                </button>
                                                <button data-ripple-light="true" data-dialog-close="true"
                                                        class="hidden middle none center rounded-lg bg-gradient-to-tr from-green-600 to-green-400 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                                    Confirm
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <script>
                                    function activeButton(id) {
                                        const targetButton = document.getElementById('btn-' + id);
                                        targetButton.click();
                                    }
                                </script>
                            </tbody>
                        </table>
                    </div>

                    <div data-dialog-backdrop="dialogAdd" data-dialog-backdrop-close="true"
                         class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
                        <div data-dialog="dialogAdd"
                             class="relative m-4 w-2/5 min-w-[40%] max-w-[40%] rounded-lg bg-white font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased shadow-2xl">
                            <div class="flex items-center p-4 font-sans text-2xl antialiased font-semibold leading-snug shrink-0 text-blue-gray-900">
                                Add
                            </div>

                            <form action="/list/add" method="post">
                                <div class="relative p-4 font-sans text-base antialiased font-light leading-relaxed border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 text-blue-gray-500">
                                    <input type="hidden" name="AccountId" value="@ViewBag.accId" />
                                    <input id="Name" type="text" name="Name"
                                           value=""
                                           class="text-stone-900 text-3xl font-bold border-none focus:outline-0 focus:border-b-2 p-2 "
                                           placeholder="New List"
                                           required />
                                </div>
                                <div class="flex flex-wrap items-center justify-end p-4 shrink-0 text-blue-gray-500">
                                    <button data-ripple-dark="true" data-dialog-close="true" type="button"
                                            class="px-6 py-3 mr-1 font-sans text-xs font-bold text-red-500 uppercase transition-all rounded-lg middle none center hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                        Cancel
                                    </button>
                                    <button data-ripple-light="true" data-dialog-close="true" type="submit"
                                            class="middle none center rounded-lg bg-gradient-to-tr from-green-600 to-green-400 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                        Confirm
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function checkBoxHandle(checkId) {
            $.ajax({
                url: '@Url.Action("checkStatus", "task")',
                type: "get",// send it through get method
                data: {
                    id: checkId
                },
                success: function (response) {
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        }
    </script>
    <!-- from cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://unpkg.com/@@material-tailwind/html@latest/scripts/dialog.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>


