@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using PRN211_project.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Organic Mind</title>
    @* <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" /> *@
    @Html.Partial("~/Views/Common/Head.cshtml")

</head>
<body class="overflow-hidden">
    <div class="m-5 bg-white h-[80vh] grid grid-cols-4">
        @* sidebar *@
        @Html.Partial("~/Views/Common/SideBar.cshtml")

        <div class=" col-span-3 rounded-3xl p-10 overflow-scroll">
            @model Account
            <form asp-controller="Account"
                  asp-method="update"
                  method="post">
                <div class="space-y-12">
                    <div class="border-b border-gray-900/10 pb-12">
                        <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>
                        <p class="mt-1 text-sm leading-6 text-gray-600">Use a permanent address where you can receive mail.</p>

                        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                            <div class="sm:col-span-3">
                                <label for="username" class="block text-sm font-medium leading-6 text-gray-900">UserName</label>
                                <div class="mt-2">
                                    <input asp-for="UserName" 
                                        type="text"
                                           name="username"
                                           id="first-name"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                           value="@Model.UserName"
                                           readonly>
                                </div>
                            </div>

                            <div class="sm:col-span-3">
                                <label for="fullname" class="block text-sm font-medium leading-6 text-gray-900">Full Name</label>
                                <div class="mt-2">
                                    <input asp-for="FullName" 
                                        type="text"
                                           name="fullname"
                                           id="last-name"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                           value="@Model.FullName">
                                </div>
                            </div>

                            <div class="sm:col-span-4">
                                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                                <div class="mt-2">
                                    <input asp-for="Email"
                                        id="email"
                                           name="email"
                                           type="email"
                                           autocomplete="email"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                           value="@Model.Email">
                                </div>
                            </div>

                            <div class="sm:col-span-2 sm:col-start-1">
                                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">password</label>
                                <div class="mt-2">
                                    <input asp-for="Password"
                                        type="password"
                                           name="password"
                                           id="password"
                                           autocomplete="address-level2"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                           value="@Model.Password" readonly>
                                </div>
                            </div>

                            <div class="sm:col-span-2">
                                <label for="newpassword" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
                                <div class="mt-2">
                                    <input type="password"
                                           name="newpassword"
                                           id="newpassword"
                                           autocomplete="address-level1"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div class="sm:col-span-2">
                                <label for="repassword" class="block text-sm font-medium leading-6 text-gray-900">Re-Enter Password</label>
                                <div class="mt-2">
                                    <input type="password"
                                           name="repassword"
                                           id="repassword"
                                           autocomplete="postal-code"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-6 flex items-center justify-end gap-x-6">
                        <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                    </div>
            </form>
        </div>

    </div>

</body>
</html>

