@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using PRN211_project.Models

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Organic Mind</title>
    @* <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" /> *@
    @Html.Partial("~/Views/Common/Head.cshtml")

    <script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>




</head>
<body class="overflow-hidden">
    <div class="m-5 bg-white h-[80vh] grid grid-cols-4">
        @* sidebar *@
        @Html.Partial("~/Views/Common/SideBar.cshtml")
        <div class=" col-span-3 rounded-3xl p-10 pt-2 overflow-scroll">
            <p class="font-bold text-6xl pb-4 text-neutral-700  ">Sticky wall</p>
            <div class="border-[0.5px] h-[96%] rounded-2xl w-full p-5 grid grid-cols-3 grid-rows-3  gap-5">
                @foreach (StickyNote sn in ViewBag.listS)
                {
                    <div onclick="activeButton(@sn.Id)" class="bg-[#FDF2B3] h-full rounded p-5 overflow-scroll shadow-sm hover:shadow flex flex-col justify-between">
                        <p class="whitespace-pre-line text-neutral-700 font-medium text-2xl mb-2">@sn.Name</p>
                        <p class=" whitespace-pre-line text-neutral-700 font-medium">@sn.Details</p>
                    </div>
                    <button id="btn-@sn.Id" data-ripple-light="true" data-dialog-target="dialog(@sn.Id)"
                            class="hidden select-none rounded-lg bg-gradient-to-tr from-gray-900/10 to-gray-800/10 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                    </button>
                    <div data-dialog-backdrop="dialog(@sn.Id)" data-dialog-backdrop-close="true"
                         class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
                        <div data-dialog="dialog(@sn.Id)"
                             class="relative m-4 w-2/5 min-w-[40%] max-w-[40%] rounded-lg bg-[#FDF2B3] font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased shadow-2xl">

                            <form action="/stickynote/update" method="post">
                                <input name="Id" value="@sn.Id" type="hidden" />
                                <input name="AccountId" value="@sn.AccountId" type="hidden" />
                                <input name="Name"
                                       placeholder="Header"
                                       type="text"
                                       value="@sn.Name"
                                       style="outline: none;"
                                       class="m-5 bg-transparent border-none  focus:border-none focus:outline-none  flex items-center  font-sans text-2xl antialiased font-semibold leading-snug shrink-0 text-blue-gray-900" />
                                <div class="relative p-4 font-sans text-base antialiased font-medium leading-relaxed   text-neutral-700">

                                    <textarea name="Details"
                                              class="w-full px-5 h-fit bg-transparent border-none shadow-transparent outline-none overflow-auto box" rows="4">@sn.Details</textarea>
                                </div>
                                <div class="flex flex-wrap items-center justify-end p-4 shrink-0 text-blue-gray-500">
                                    <a onclick="return confirm('are you sure to delete?')" href="/stickynote/delete?id=@sn.Id"
                                       class="px-6 py-3 mr-1 font-sans text-xl font-bold text-red-500 uppercase transition-all rounded-lg middle none center hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                        <i class="uil uil-times"></i>
                                    </a>
                                    <button type="button" data-ripple-dark="true" data-dialog-close="true"
                                            class="hidden px-6 py-3 mr-1 font-sans text-xs font-bold text-red-500 uppercase transition-all rounded-lg middle none center hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                        Cancel
                                    </button>
                                    <button type="submit" data-ripple-light="true" data-dialog-close="true"
                                            class="middle none center rounded-lg  py-3 px-6 font-sans text-xs font-bold uppercase text-black hover:text-blue-500 ">
                                        <i class="uil uil-upload text-xl"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                <script>
                    function activeButton(id) {
                        const targetButton = document.getElementById('btn-' + id);
                        targetButton.click();
                    }
                </script>

                <div>
                    <button data-ripple-light="true" data-dialog-target="addDialog"
                            class="bg-[#EBEBEB] w-full h-full rounded p-5 overflow-scroll shadow-sm hover:shadow text-center">
                        <i class="uil uil-plus text-7xl"></i>
                    </button>
                    <div data-dialog-backdrop="addDialog" data-dialog-backdrop-close="true"
                         class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
                        <div data-dialog="addDialog"
                             class="relative m-4 w-2/5 min-w-[40%] max-w-[40%] rounded-lg bg-[#FDF2B3] font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased shadow-2xl">

                            <form action="/stickynote/add" method="post">
                                <input name="AccountId" value="@ViewBag.accId" type="hidden" />
                                <input name="Name"
                                       placeholder="Header"
                                       type="text"
                                       value=""
                                       class="m-5 bg-transparent border-0 outline-0 focus:border-b-2 flex items-center  font-sans text-2xl antialiased font-semibold leading-snug shrink-0 text-blue-gray-900" />
                                <div class="relative p-4 font-sans text-base antialiased font-medium leading-relaxed   text-neutral-700">

                                    <textarea placeholder="enter something here"
                                              name="Details"
                                              class="w-full px-5 h-fit bg-transparent border-none  shadow-transparent outline-none overflow-auto box" rows="4"></textarea>
                                </div>
                                <div class="flex flex-wrap items-center justify-end p-4 shrink-0 text-blue-gray-500">
                                    <button type="button" data-ripple-dark="true" data-dialog-close="true"
                                            class="px-6 py-3 mr-1 font-sans text-xs font-bold text-red-500 uppercase transition-all rounded-lg middle none center hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                        Cancel
                                    </button>
                                    <button type="submit" data-ripple-light="true" data-dialog-close="true"
                                            class="middle none center rounded-lg bg-gradient-to-tr from-green-600/10 to-green-400/10 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/10 transition-all hover:shadow-lg hover:shadow-green-500/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                        Confirm
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@@material-tailwind/html@latest/scripts/dialog.js"></script>

</body>
</html>

